#root {
    /* max-width: 1280px; */
    margin: 0;
    /* text-align: center; */
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
}

#root .amplify-ai-conversation__form {
    padding: 10px;
}
#root .amplify-scrollview{
    padding: 10px;
}

#root {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100%; /* Set height as needed */
    width: 100%; /* Set width as needed */
    /* Optional: Add padding or margin if needed */
}